{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": [
        ["babel-plugin-webpack-alias", {
          "config": "./webpack/webpack.test.config.js"
        }]
      ]
    }
  }
}
