{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "curly": 0,
    "global-require": "off",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-quotes": [2, "prefer-single"],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "react/jsx-curly-spacing": [2, "always", {"spacing": {
      "objectLiterals": "never"
    }}],
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": [2, {
      "allowArrowFunctions": true
    }],
    "semi": 0
  }
}
