{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "es6": true,
    "node": true,
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed", {
      requireReturnForObjectLiteral: false,
    }],
    "arrow-spacing": ["error", { before: true, after: true }],
    "jsx-quotes": ["error", "prefer-single"],
    "no-underscore-dangle": "off",
    "no-const-assign": "error",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": "off",
    "react/jsx-curly-spacing": ["error", "always", {"spacing": {
      "objectLiterals": "never"
    }}],
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true
    }]
  }
}
