@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

// Colors
$color-white:           #ffffff !default;
$color-black:           #000000 !default;

// Typography
$text-color-dark-primary:    rgba($color-black, .87) !default;
$text-color-dark-secondary:  rgba($color-black, .54) !default;
$text-color-dark-hint:       rgba($color-black, .26) !default;
$text-color-light-primary:   rgba($color-white, 1) !default;
$text-color-light-secondary: rgba($color-white, .7) !default;
$text-color-light-hint:      rgba($color-white, .3) !default;

// Theme 
$color-background: $color-white !default;
$color-border: 		 rgba(0, 0, 0, 0.12) !default;
$color-primary:    #22b473 !default;

// Layout
$baseline-grid:       8px !default;
$layout-gutter-width: ($baseline-grid * 2) !default;
$layout-sm:           600px !default;
$layout-md:           960px !default;
$layout-lg:           1200px !default;
