@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.subheader {
  margin-bottom: $baseline-grid;
  width: 100%;

  h3 {
    color: $color-text-secondary;
    margin: $layout-gutter-width-sm 0;
  }
  
}
