@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.gridList {
  flex-wrap: wrap;
  margin: 0 -12px;
  transition: all $animation-duration ease-in-out;
}

.gridTile {
  background-color: $color-background;
  background-clip: padding-box;
  border: 12px solid transparent;

  &.column__1 {
    flex: 0 1 50%;
  }

  &.column__2 {
    flex: 0 1 33.33%;
  }

  &.column__4 {
    flex: 0 1 25%;
  }

}

@media (max-width: $layout-breakpoint-sm-tablet) {
  .gridTile {

    &.column__1 {
      flex: 0 1 100%;
    }

    &.column__2 {
      flex: 0 1 50%;
    }

    &.column__4 {
      flex: 0 1 33.33%;
    }

  }
}

@media (max-width: $layout-breakpoint-xs) {
  .gridTile {

    &.column__1 {
      flex: 0 1 100%;
    }

    &.column__2 {
      flex: 0 1 100%;
    }

    &.column__4 {
      flex: 0 1 100%;
    }

  }
}
