@import '~react-toolbox/lib/colors';
@import '~react-toolbox/lib/globals';

.footer {
  border-top: 1px solid $color-divider;
  bottom: 0;
  box-sizing: border-box;
  padding: $layout-gutter-width-sm;
  position: absolute;
  width: 100%;
}
