@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.appBar {

  .header {
    background-color: $color-white;
    border-bottom: 1px solid $color-divider;
  }

  .wrapper {
    max-width: $layout-breakpoint-md;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    height: 48px;
    width: 48px;
  }
  
}
